html{
  background-color: #FCFCFC;
}

.tablewrapper {
  border-radius: 18px;
  margin-top: 10px;
  position: relative;
  width: 70%;
  background-color: #FFFFFF;
}

.tablewrapper:hover {
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  width: 70%;
  background-color: #F1F1F1;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  text-align: left;
}

.cell p {
  height: 30px;
  margin: auto;
  font-size: 14px;
  padding: 7px 7px 7px 7px;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #595959;
  font-family: HelveticaNeue;
  font-size: 12px;

}

.cell #title {
  padding: 7px 7px 7px 7px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 3px;
  color: #333333;
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  height: 20px;

}

.cell #download {
  width: 20px;
  height: 20px;
  float: right;
}

.cell.empty {
  border: none;
  width: 40px;
  height: 50px;
}

.cell.rowspanned {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 44px;
  height: 50px;

}

img checkedBox {
  width: 20px;
  height: 20px;
  margin: 12px 15px 15px 15px;
}

.cell #box {
  margin: 12px 15px 15px 15px;
  /* text-align: center;
  vertical-align: middle; */
}

 #box{
  width: 20px;
  height: 20px;
}
